body{
    background-color: #1d1e22;
}

.backg{
    background: url(./images/bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hello{
    font-size: 80px;
    font-weight: bold;
    color: orange;
}

.ul-text{
    color: orange;
}

.textlogo{
    font-size: 3rem;
    color: orange;
}

.logohtml{
    width: 140px;
    height: 200px;
}

.img1{
    border: 6px solid orange;
    border-radius: 16px;
}

.HTMLd{
    background-color: white;
    width: 300px;
    height: 30px;
}

.HTML1{
    background-color: orange;
    width: 30px;
    height: 30px;
    border-right: 3px solid black;
}

.HTML2{
    background-color: white;
    width: 30px;
    height: 30px;
    border-right: 3px solid black;
}

.buttondiv{
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.contactbutton{
    color: white;
    background-color: orange;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: bolder;
}

.contactbutton:hover{
    background-color: white;
    color: orange;
    transition: 500ms;
}

.imagediv {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
    border: 6px solid orange;
    border-radius: 16px;
  }
  
  .imagecontainer:hover .imagediv {
    opacity: 0.8;
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  @media screen and (max-width: 600px) {
    .logohtml{
        width: 70px;
        height: 100px;
    }
  }

  @media screen and (max-width: 1024px) {
    .rightgrid{
        margin-top: 3rem;
    }
  }